AKA_SEMI_DATA_DIR=/var/lib/aka-semi-utils-web
AKA_SEMI_MAX_UPLOAD_BYTES=15728640
AKA_SEMI_MAX_RESOURCE_BYTES=5242880
AKA_SEMI_MAX_IMAGE_PIXELS=36000000
AKA_SEMI_PREVIEW_MAX_IMAGE_PIXELS=36000000
AKA_SEMI_MAX_CONCURRENT_JOBS=1
AKA_SEMI_FILE_TTL_SECONDS=3600
