KARI_IMPRINT_DATA_DIR=/var/lib/kari-imprint
KARI_IMPRINT_MAX_UPLOAD_BYTES=15728640
KARI_IMPRINT_MAX_RESOURCE_BYTES=5242880
KARI_IMPRINT_MAX_IMAGE_PIXELS=36000000
KARI_IMPRINT_PREVIEW_MAX_IMAGE_PIXELS=36000000
KARI_IMPRINT_MAX_CONCURRENT_JOBS=1
KARI_IMPRINT_FILE_TTL_SECONDS=3600
